{% extends "BasePage.html" %}

{% block title %}
關於我們
{% endblock %}

{% block css %}
{% endblock %}



{% block context %}

    <h1>Django REST framework:</h1>

    <p>
        產品的API：<a href="http://127.0.0.1:8000/Goodsapi/">http://127.0.0.1:8000/Goodsapi/ (僅供查詢)</a>
    </p>
    <p>
        會員的API：<a href="http://127.0.0.1:8000/Memberapi/">http://127.0.0.1:8000/Memberapi/ (僅供查詢)</a>
    </p>
    <p>
        訂單的API：<a href="http://127.0.0.1:8000/Cartapi/">http://127.0.0.1:8000/Cartapi/ (僅供查詢)</a>
    </p>
{% endblock %}


