{% extends "BasePage.html" %}

{% block title %}
關於我們
{% endblock %}

{% block css %}
{% endblock %}



{% block context %}

    <h1>Django REST framework:</h1>

    <p>
        產品的API：<a href="http://127.0.0.1:8000/Goodsapi/">http://127.0.0.1:8000/Goodsapi/</a>
    </p>
    <p>
        會員的API：<a href="http://127.0.0.1:8000/Memberapi/">http://127.0.0.1:8000/Memberapi/</a>
    </p>
    <p>
        訂單的API：<a href="http://127.0.0.1:8000/Cartapi/">http://127.0.0.1:8000/Cartapi/</a>
    </p>

    <h1>Swagger:</h1>
    <p>
        Swagger：<a href="http://127.0.0.1:8000/Swagger/">http://127.0.0.1:8000/Swagger/</a>
    </p>
{% endblock %}


