{% extends "BasePage.html" %}

{% block title %}
最新消息
{% endblock %}

{% block css %}
		<link href="/static/css/news.css" rel="stylesheet">

{% endblock %}

{% block context %}
<div class="image-switcher">
    <div class="image-slide">
        <a href="/product">
            <img src="/static/Images/滿千折扣優惠.png" alt="滿千優惠">
        </a>
    </div>
    <div class="image-slide">
        <a href="/product">
            <img src="/static/Images/情人優惠.png" alt="情人優惠">
        </a>
    </div>
</div>
{% endblock %}



